---
import { Icon } from "astro-icon/components";
import logo from "@assets/canva-logo.svg";
import { NavbarSideMenu } from "../ui/side-bar/navbar-side-menu";
import { NavbarButtons } from "./navbar-buttons";
import { NavbarSideMenuDesktop } from "../ui/side-bar/navbar-side-menu-desktop";
---

<nav
  class="flex gap-4 items-center py-4 lg:px-8 px-3 border justify-between bg-white sticky z-10 top-0"
>
  <article class="flex lg:gap-10 gap-4  items-center">
    <div class="lg:hidden">
      <NavbarSideMenu client:only="solid-js" />
    </div>
    <div>
    </div>
    <img src={logo.src} class="flex-1" />
    <div class="w-full">
      <NavbarSideMenuDesktop client:only="solid-js" />
    </div>
  </article>

  <article class="flex lg:gap-6 gap-4 items-center">
    <div class="flex gap-6">
      <Icon name="search" size={21} />
      <Icon name="question" class="hidden sm:block" size={21} />
    </div>
    <div class="flex gap-6">
      <NavbarButtons client:only="solid-js" />
    </div>
  </article>
</nav>
