---
import { Button } from "@/components/ui/button";
import "../app.css";
import NavBar from "@/components/shared/NavBar.astro";
import { PrincipalSlider } from "@/components/ui/principal-slider";
import CanvaCardContainer from "@/components/ui/CanvaCardContainer.astro";
import TrustedCompanies from "@/components/ui/TrustedCompanies.astro";
import CanvaServicesContainer from "@/components/ui/CanvaServicesContainer.astro";
import CanvaTemplates from "@/components/ui/CanvaTemplates.astro";
import CanvaSectionthirth from "@/components/ui/CanvaSectionthirth.astro";
import CanvaSectionFourth from "@/components/ui/CanvaSectionFourth.astro";
import CanvaSectionFive from "@/components/ui/CanvaSectionFive.astro";
import CanvaSectionSixth from "@/components/ui/CanvaSectionSixth.astro";
import CanvaFooter from "@/components/ui/CanvaFooter.astro";
import { FooterButton } from "@/components/shared/footer-button";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Canva clone</title>
  </head>
  <body class="bg-white pb-24 relative">
    <NavBar />
    <main class="px-4 py-8 ">
      <section class="flex flex-col gap-3 mb-8">
        <h1 class="text-3xl text-center font-bold">
          ¿Qué <span class="gradient-text">diseñaremos</span> hoy?
        </h1>
        <p
          class="text-base font-normal text-center tracking-wide text-grayPrimary"
        >
          Con Canva, es muy fácil crear, compartir e imprimir diseños
          profesionales.
        </p>
        <Button class="font-semibold mt-2">Quiero diseñar</Button>
      </section>
      <section class="mb-8">
        <PrincipalSlider client:only="solid-js" />
      </section>

      <section class="mb-8">
        <CanvaCardContainer />
      </section>

      <section class="mb-8">
        <TrustedCompanies />
      </section>

      <section class="mb-8">
        <CanvaServicesContainer />
      </section>

      <section class="mb-8">
        <CanvaTemplates />
      </section>

      <section class="mb-8">
        <CanvaSectionthirth />
      </section>

      <section class="mb-8">
        <CanvaSectionFourth />
      </section>

      <section class="mb-8"> 
        <CanvaSectionFive />
      </section>

      <section class="mb-8">
        <CanvaSectionSixth />
      </section>
    </main>

    <footer>
      <CanvaFooter  />
    </footer>

    <FooterButton client:only="solid-js" />
  </body>
</html>
