---
import { Button } from "./button";
---

<article class="bg-darkBlue text-4xl font-bold -mx-4 px-8 pt-12 pb-20">
  <div class="p-4 text-center">
    <span class="text-primary">Comienza a diseñar</span>
    <span class="text-white">con Canva</span>
  </div>

  <Button class="w-full">Empieza ahora gratis</Button>
</article>
