---
import { SecondarySlider } from "./secondary-slider";
---

<h2 class="text-2xl font-bold text-center mb-2">
  Tenemos muchas sorpresas para ti
</h2>
<p class="text-base text-center mb-4">
  Estas son algunas de nuestras mejores características que quizás no conoces
</p>
<SecondarySlider client:only />
