---
import { Icon } from "astro-icon/components";


---

<section>
    <article class="flex items-center justify-center">
        <Icon name="network" size={25} />
    </article>

    <article class="flex flex-col items-center justify-center">
        <span>© 2024 Todos los derechos reservados: Canva</span>
        <span>Política de privacidad</span>
        <span>Condiciones</span>
    </article>

</section>